*/host_vars/localhost
*.pyc
api/truststore.jks
jenkins_jobs.ini
ci/jobs/jjb

.DS_STORE
log-client/logstash-agent-old/
log-client/monasca-log-agent/Dockerfile
log-server/monasca-log-api/config/*.ini
log-server/monasca-log-api/config/*.conf
