[DEFAULT]
log_config_append=/etc/monasca/log-api-logging.conf

[dispatcher]
logs = monasca_log_api.reference.v2.logs:Logs
logs_v3 = monasca_log_api.reference.v3.logs:Logs
versions = monasca_log_api.reference.versions:Versions
healthchecks = monasca_log_api.reference.healthchecks:HealthChecks

#[monitoring]
#statsd_host = kafka
#statsd_port = 9092
#statsd_buffer = 50

[service]
region = switzerland
max_log_size = 1048576

[security]
# The roles that are allowed full access to the API.
default_authorized_roles = user, domainuser, domainadmin, monasca-user

# The roles that are allowed to only POST metrics to the API. This role would be used by the Monasca Agent.
agent_authorized_roles = monasca-agent

# The roles that are allowed to only GET metrics from the API.
read_only_authorized_roles = monasca-read-only-user

# The roles that are allowed to access the API on behalf of another tenant.
# For example, a service can POST metrics to another tenant if they are a member of the "delegate" role.
delegate_authorized_roles = admin

[messaging]
# The message queue driver to use
driver = monasca_api.common.messaging.kafka_publisher:KafkaPublisher

[log_publisher]
topics = monasca-log
kafka_url = {{ KAFKA_URI }}
max_message_size = 1048576

[keystone_authtoken]
auth_uri = {{ KEYSTONE_AUTH_URI }}
identity_uri = {{ KEYSTONE_IDENTITY_URI }}
admin_user = {{ KEYSTONE_ADMIN_USER }}
admin_password = {{ KEYSTONE_ADMIN_PASSWORD }}
admin_tenant_name = {{ KEYSTONE_ADMIN_TENANT }}
insecure = false

[kafka_healthcheck]
kafka_url = {{ KAFKA_URI }}
kafka_topics = kafka-health

[roles_middleware]
path = /v2.0/log,/v3.0/logs
default_roles = user,domainuser,domainadmin,monasca-user
agent_roles = monasca-agent
